/* Basic editor styles */
.tiptap {

  .pre {
    background: var(--black);
    border-radius: 0.5rem;
    color: var(--white);
    font-family: 'JetBrainsMono', monospace;
    margin: 1.5rem 0;
    padding: 0.75rem 1rem;
  }
     /* Placeholder (at the top) */
  .p.is-editor-empty:first-child::before {
    color: var(--gray-4);
    content: attr(data-placeholder);
    float: left;
    height: 0;
    pointer-events: none;
  }

  /* White background */
  .ProseMirror {
    background-color: var(--white);
    color: var(--white);
  }
}